div.events-card{
    margin-top:4rem;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-    ng-cloak {
        display: none !important;
}

button:focus {outline:0;}
input:focus {outline:0;}

.modal-header{
    padding-bottom: 0.3rem;
}
.modal-footer{
    padding-bottom: 0.3rem;
    padding-top: 0.3rem;
}