<div class="jumbotron">
    <img ng-src="{{event.imageUrl}}" class="eventImg">
  <h1 class="display-4">{{event.name}}</h1>
  <p class="lead">Date : {{event.date}}</p>
    <p class="lead">Location : {{event.location.address}},{{event.location.city}},{{event.location.province}}</p>
  <hr class="my-4">
 
  <p class="lead">
    <a class="btn btn-primary btn-lg"  role="button" data-toggle="modal" data-target="#exampleModalCenter">View Sessions</a>
  </p> 
</div>



<!--Modal popup for Sessions-->

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
        </button>
        
        <fieldset>
            
            <label for="level">FilterBy:</label>
            <select id="level">
                <option>All</option>
                <option>Introductory</option>
                <option>Intermediate</option>
                <option>Advanced</option>
            </select>
            
            <label for="level">OrderBy:</label>
            <select id="level">
                <option>All</option>
                <option>Introductory</option>
                <option>Intermediate</option>
                <option>Advanced</option>
            </select>
            
        </fieldset>
        
      <div ng-repeat="session in event.sessions">
          <div class="row">
              <div class="col-sm-10">
                    <div class="modal-header">
                     <h5 class="modal-title" id="exampleModalLongTitle">{{session.name}}</h5>
                    </div>
                  <div class="modal-body">
                    <p>Creator :- {{session.creatorName}}</p>
                    <p>Level :- {{session.level}}</p>
                    <p>Duration :- {{session.duration | durationFilter}}</p>
                    <p>Abstract :- {{session.abstract}}</p>
                  </div>
              </div>
              <div class="col-sm-2 chevronContainer">
                  <div>
                      <div ng-click="upVotecnt(session)"><i class="fas fa-2x fa-angle-up"></i></div>
                        <div style="display:flex;justify-content:center">{{session.upVoteCount}}</div>
                      <div ng-click="downVotecnt(session)"><i class="fas fa-2x fa-angle-down"></i></div>
                  </div>
              </div>
          </div>
            
      </div>
        <!--
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>-->
    </div>
  </div>
</div>