        
            
            
            <div class="row events-card">
                
                <div class="col-sm-6 cardcontainer" ng-repeat="event in events | eventFilter:searchKey | orderBy:sortorder">
                    <eventList myevent="event"></eventList>
                </div>   
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <input ng-model="searchKeyWord" type="text" placeholder="Enter Keyword to Search">
                    <button class="btn btn-primary" ng-click="setKeyword()">Search</button>
                </div>
            </div>
            
    